@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;700;900&display=swap');

body {
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: oswald;
    scroll-behavior: smooth;
    user-select: none;
}

.container {
    height: 100vh;
    overflow: hidden;
}

.page {
    height: 100vh;
    background-color: #333;
    display: flex;
}

.page h1 {
    text-shadow: none;
    font-size: 8vh;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    z-index: 7;
}

.head {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.head h2 {
    margin-bottom: auto;
}

.head h1 {
    margin-top: auto;
}

h1,
h2 {
    margin: 0;
    color: #eee;
    font-size: 20vh;
    text-shadow: 0px 0px 30px black;
}

h2 {
    font-size: 3em;
}

.pl {
    justify-content: flex-start;
    align-items: center;
}



.pr {
    justify-content: flex-end;
    align-items: center;
}

.tab {
    height: 80vh;
    width: 80vw;
    display: flex;
    transition: transform 1s;
    z-index: 2;
    transition: height 1s, width 1s, border-radius 1s;
}

.tabl {
    border-radius: 0 30px 30px 0;
    position: relative;
}

.tabr {
    border-radius: 30px 0 0 30px;
    flex-direction: row-reverse;
    position: relative;
}

.tab1 {
    background-color: rgb(179, 0, 0);
}

.tab2 {
    background-color: rgb(0, 0, 170);
}

/* .tab2 .arrow:hover {
    background-color: rgb(0, 0, 160);
    border-radius: 30px 0 0 30px;
} */

.tab3 {
    background-color: rgb(204, 133, 0);
}

/* .tab3 .arrow:hover {
    background-color: rgb(194, 123, 0);
    border-radius: 0 30px 30px 0;
} */

.tab4 {
    background-color: darkgreen;
}

/* .tab4 .arrow:hover {
    background-color: rgb(0, 90, 0);
    border-radius: 30px 0 0 30px;
} */

.content {
    width: 90%;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrap {
    height: 100%;
    width: 72%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.tabl .arrow {
    border-radius: 0 30px 30px 0;
}

.tabr .arrow {
    border-radius: 30px 0 0 30px;
}

.arrow {
    width: 10%;
    font-size: 10vh;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    z-index: 7;
}

.next span {
    font-size: 7vh;
    color: #eee;
    margin-right: -0.4em;
    margin-bottom: 0.2em;
    opacity: 0.3;
    transition: opacity 0.35s;
}

.previous span {
    font-size: 7vh;
    color: #eee;
    margin-left: 0.4em;
    margin-bottom: 0.2em;
    opacity: 0.3;
    transition: opacity 0.35s;
}

.next {
    width: 16vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    transform: scale(-1);
    border-radius: 0 0 8vh 8vh;
    transition: background-color 0.2s linear, opacity 0.5s;
    position: absolute;
    bottom: 0px;
    margin-right: 0.4em;
    z-index: 1;
}

.previous {
    width: 16vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    border-radius: 0 0 8vh 8vh;
    transition: background-color 0.2s linear, opacity 0.5s;
    position: absolute;
    top: 0px;
    z-index: 1;

}

.transparent {
    opacity: 0;
}

.dissapear {
    display: none;
}

/* slide */

.tabl::before {
    position: absolute;
    display: block;
    height: inherit;
    width: inherit;
    left: -100%;
    z-index: 5;
    content: ' ';
    transition: transform 0.5s, border-radius 0.5s;
    border-radius: 0 30px 30px 0;
}

.tabr::after {
    position: absolute;
    display: block;
    height: inherit;
    width: inherit;
    left: 100%;
    z-index: 5;
    content: ' ';
    transition: transform 0.5s, border-radius 0.5s;
    border-radius: 30px 0 0 30px;
}

.enlarge {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
}

.enlarge h1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

.reverse {
    transform: scale(-1);
}

.tabHeader {
    margin: 0;
    color: #eee;
    font-size: 6vh;
    width: 10%;
    font-weight: 700;
    z-index: 7;
    writing-mode:vertical-lr;
    text-orientation: upright;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delBorderRadius {
    border-radius: 0px;
}